/* Colocar a cor de fundo para azul fraco e colocar o texto no meio */
body {
    background-color: rgb(103, 187, 255);
    text-align: center;
}

/* Colocar o texto mais para o meio da pagina*/
div {
    padding-top: 100px;

}
/* Aumentar a letra */
h1 {
    font-size: 4em;
    padding-top: 50px;
}