/* Colocar o texto no meio */
.Meio {
    text-align: center;
}
/* Coloca um espaçamento da lateral */
div {
    margin-top: 80px;
    color:#353535;
}
/* Coloca um fundo azul fraco */
body {
    background-color: rgb(103, 187, 255);
}
#titulo {
    font-size: 2.25em ;
    text-align: center;
    margin-top: 100px;
}