/* Define a cor de fundo como azul fraco, e coloca o texto no centro */
body {
    text-align: center;
    background-color: rgb(103, 187, 255);
}

/* Da um espaçamento no texto e aumenta a letra */
h1 {
    padding: 200px;
    font-size: 4em;
}