/* Define a cor do fundo para azul fraco, e alinha o texto no meio */
body {
    background-color: rgb(103, 187, 255);
    text-align: center;
}

/* Define um espaçamento entre divs de 150px */
div {
    padding-top: 150px;
}

/* Dá um espaçamento maior nos títulos */
h1,h2 {
    padding: 5px;
}